@import "screenSizes";

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 50px;
  padding: 25px;

  padding-top: 20px;

  @include s-down {
    // gap: 10px;
    // gap: 0;
    gap: 50px 20px;
    justify-content: space-around;
    padding: 20px;
  }
}