@import "screenSizes";

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 50px;
  padding: auto;

  padding-top: 20px;

  @include m-down {
    gap: 50px 20px;
    justify-content: space-around;
    padding: 20px;
  }
}