@import "colors";
@import "screenSizes";

.movie-view {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;

  // margin-top: 60px;
  padding: 20px 20%;

  // min-height: 80vh;

  @include m-down {
    padding: 30px 50px;
    align-items: flex-start;

  }

  @include s-down {
    padding: 30px 20px;
  }

  @include xs-down {
    flex-direction: column;
    // margin-top: 160px;
    align-items: center;
    padding: 0px 30px 30px 30px;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 280px;

    @include s-down {
      width: 230px;
    }

    @include xs-down {
      width: 75%;
    }

    .no-poster {
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 280px;
      height: 420px;

      @include s-down {
        min-width: 230px;
        height: 345px;
      }

      @include xs-down {
        width: 100%;
        min-width: unset;
      }

      span {
        color: aliceblue;
        text-align: center;
        font-size: 1.5em;
      }
    }

    .colorful-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .box-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        padding: 10px;

        font-weight: bold;

        span {
          text-align: center;
        }
      }

      .tagline {
        background-color: $color1;
        color: black;
      }

      .release-date {
        background-color: $color2;
        color: black;
      }

      .runtime {
        background-color: $color3;
        color: black;
      }

      .budget {
        background-color: $color4;
        color: black;
      }

      .vote {
        background-color: $color5;
        color: black;
      }

      .IMDb {
        background-color: $color6;

        a {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include xs-down {
      width: 90%;
    }

    .horizontal-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      list-style: none;

      padding: 0;

      .list-item {
        background-color: #0db39e;
        color: aliceblue;
        font-weight: bold;
        font-size: 1em;
        width: max-content;
        padding: 3px;
      }
    }

    .title {
      font-size: 2.5em;
    }

    .overview {
      font-size: 1.1em;
    }

    .read-more {
      color: #0db39e;
      font-weight: bold;
    }
  }
}

.fav-btn {
  width: 40px;
  margin-left: 20px;
}