@import "screenSizes";

.vertical-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style: none;

  padding: 20px 20%;

  @include m-down {
    padding: 0 10%;
  }

  @include s-down {
    padding: 0 45px;
  }

  @include xs-down {
    padding: 0 45px;
  }
}