*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand{
  color: aliceblue;
}
nav{
  margin: 0;
  padding: 10px 20px;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0db39e;
}
.movie-card{
  /* width: 200px; */
  /* height: 100px; */
  background-color: #0db39e;
  text-align: center;
  width: min-content;
  height: 100%;
  color: black;
  position: relative;
}
.movie-card a{
  color: black;
}
.movie-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:stretch;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 20px;
}
.movie-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  /* gap: 30px; */
  min-height: 80vh;
}
.img-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
}
.box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.big-box{
  text-align: center;
  color: aliceblue;
  padding: 10px;
  font-weight: bold;
}
.mini-box{
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.tagline{ 
  background-color: #0db39e;
  color: black;
}
.release-date{
  background-color: #16db93;
  color: black;
}
.runtime{
  background-color: #83e377;
  color: black;
}
.budget{
  background-color: #b9e769;
  color: black;
}
/* .lang{
  background-color: #efea5a;
  color:black;
} */
.vote{
  background-color: #efea5a;
  color: black;
}
.IMDb{
  background-color: #f1c453;
  color: black;
}
.IMDb a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.movie-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.title{
  font-size: 2.5em;
}
.overview{
  font-size: 1.1em;
}
.read-more{
  color:#0db39e;
  font-weight: bold;
}
.horizontal-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.vertical-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.li{
  background-color: #0db39e;
  color: aliceblue;
  font-weight: bold;
  padding: 3px;
  font-size: 1em;
  width: max-content;
}

.fav-btn{
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-color: aliceblue;
  position: absolute;
  padding: 10px;
  border-radius: 0 0 0 20px;
  opacity: 80%;
  cursor: pointer;
}

.favourite-counter{
  background-color: aliceblue;
  font-size: 1em;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.fav-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20%;
  list-style: none;
}
.fav-li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #efea5a;
  padding: 0 15px;
}
.fav-li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: black;
}
.fav-list-img{
  width: 100px;
}
.fav-list-btn{
  width: 50px;
  cursor: pointer;
}